/* LandingPage.module.css */

.container {
  width: 100vw;
  height: 100vh; /* important */
  display: block;
}

.threeCanvas {
  width: 100%;
  height: 100%; /* THIS is the missing piece */
}

/* .controls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
} */
